.contact-form {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.contact-container {
  background-color: #e6e6e6;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  box-sizing: border-box; /* Add this property */
}

.button-contact {
  width: 25%;
  padding: 10px;
  font-size: 16px;
  background-color: #313bac;
  color: #fff;
  border: none;
  cursor: pointer;
}
.button-contact:hover {
  background-color: #555caa;
}

/* Responsive styles */
@media (min-width: 768px) {
  .contact-form {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
  }
}
